Projects/Integrated Sales Automation & CRM Ecosystem/CRM Handling.json
{
  "name": "CRM Handling",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Fv93AkHjK6_nBU40MtVSunBpsrrAUR7SL0V2NEkGejQ",
          "mode": "list",
          "cachedResultName": "MySheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fv93AkHjK6_nBU40MtVSunBpsrrAUR7SL0V2NEkGejQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fv93AkHjK6_nBU40MtVSunBpsrrAUR7SL0V2NEkGejQ/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Action"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -16
      ],
      "id": "b128b493-4e7c-4030-810b-a966f057b555",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "JRlU3OCQipXezJJn",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d274a72-f56f-4738-8c6b-0f0714079a99",
              "leftValue": "={{ $json.Action }}",
              "rightValue": "Done",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ab114867-f3f9-4ffb-94f2-e20262932ef3",
              "leftValue": "={{ $json.Notion_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        -16
      ],
      "id": "489232ec-09b5-4d64-bb35-37b9365e1ad9",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        -32
      ],
      "id": "fd8f2c42-2eaf-430a-9ea5-f6ea22f7378d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "30a4b410-dc45-8016-94a9-f29c6267c9c1",
          "mode": "list",
          "cachedResultName": "CRM (n8n)",
          "cachedResultUrl": "https://www.notion.so/30a4b410dc45801694a9f29c6267c9c1"
        },
        "title": "={{ $('If').item.json.Company }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Email|email",
              "emailValue": "={{ $('If').item.json.Email }}"
            },
            {
              "key": "Name|rich_text",
              "textContent": "={{ $('If').item.json.Name }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Email Sent"
            },
            {
              "key": "Last Communication|date",
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        544,
        -48
      ],
      "id": "75fd62c2-343f-4e72-a972-18b7fd93f31b",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "2riW6i9wMVvCxYyl",
          "name": "CRM"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Fv93AkHjK6_nBU40MtVSunBpsrrAUR7SL0V2NEkGejQ",
          "mode": "list",
          "cachedResultName": "MySheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fv93AkHjK6_nBU40MtVSunBpsrrAUR7SL0V2NEkGejQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Fv93AkHjK6_nBU40MtVSunBpsrrAUR7SL0V2NEkGejQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notion_ID": "={{ $json.id }}",
            "Email": "={{ $json.property_email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Draft",
              "displayName": "Draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notion_ID",
              "displayName": "Notion_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        -16
      ],
      "id": "d9da1454-0718-48dd-ba91-af84374f174d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a5JeDXpT8kSl4Mkq",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "089d4150-8da5-4db5-b864-54f772480ffb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51d68a43c0e7de098d2588489dee30bfbf9d1d00b625cf7115d934a62a4d9706"
  },
  "id": "VUSxavx7RM3tIWeV9mgQd",
  "tags": []
}