Projects/Integrated Sales Automation & CRM Ecosystem/Proposal.json
{
  "name": "Proposal",
  "nodes": [
    {
      "parameters": {
        "formTitle": "After Meeting form",
        "formDescription": "Fill it After meeting",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Agent Name",
              "placeholder": "Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Lead Intersted",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name"
            },
            {
              "fieldLabel": "Lead Name"
            },
            {
              "fieldLabel": "Main Services To offer",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Automation"
                  },
                  {
                    "option": "Ai Agent"
                  },
                  {
                    "option": "Website"
                  },
                  {
                    "option": "Mobile App"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Prices"
            },
            {
              "fieldLabel": "Notes"
            },
            {
              "fieldLabel": "Lead Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -528,
        -64
      ],
      "id": "fc3e8a01-2745-4dea-9933-17a7b5085aa0",
      "name": "Proposal Folm",
      "webhookId": "d5a2fd03-5f13-4357-9f24-57b739e39969"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "30a4b410-dc45-8016-94a9-f29c6267c9c1",
          "mode": "list",
          "cachedResultName": "CRM (n8n)",
          "cachedResultUrl": "https://www.notion.so/30a4b410dc45801694a9f29c6267c9c1"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $json['Lead Email'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -272,
        -64
      ],
      "id": "743acba5-c234-43ff-a24e-45277dd04204",
      "name": "Get many database pages",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "2riW6i9wMVvCxYyl",
          "name": "CRM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if (\n  items.length === 0 ||\n  !items[0].json ||\n  Object.keys(items[0].json).length === 0\n) {\n  return items.map(item => {\n    item.json.status = \"No Data Found\";\n    return item;\n  });\n}\n\nreturn items.map(item => {\n  item.json.status = \"Data Found\";\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -48
      ],
      "id": "8c12f7e0-da86-4a0e-bb2f-4ff3fe3b663b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "6997710403",
        "text": "=There is no data found for this Customer, please check the form again \n\nForm Link: https://unblemishable-willia-solitarily.ngrok-free.dev/form/d5a2fd03-5f13-4357-9f24-57b739e39969",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        -144
      ],
      "id": "89b73457-36a0-49b7-a471-3c4a5703c35c",
      "name": "Send a text message",
      "webhookId": "698cc9e8-cf16-4118-a82c-175d94fc4354",
      "credentials": {
        "telegramApi": {
          "id": "S590TNpdJqWJN3YB",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "No Data Found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4c5dbe57-7df2-470e-8cea-e066da1d7bd6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e2194def-ede8-4dc4-8baf-b837ca725861",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Data Found",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Data Found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        -48
      ],
      "id": "fc8d515e-97d8-49eb-b0f0-4ce28fbc9b17",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Proposal Folm').item.json['Lead Intersted'] }}",
                    "rightValue": "No",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b90e5f8c-8f41-4245-a652-968283e3e044"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not interested"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e0fb0ecd-0118-4a62-ba01-aac08bb62662",
                    "leftValue": "={{ $('Proposal Folm').item.json['Lead Intersted'] }}",
                    "rightValue": "Yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Interested"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        688,
        96
      ],
      "id": "06a1aaea-0d19-4eba-a4d5-12fc746dc619",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Drop"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1008,
        -32
      ],
      "id": "45a4a478-24ed-4371-85bf-c3910efe7692",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "2riW6i9wMVvCxYyl",
          "name": "CRM"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert the following meeting summary into the required structured proposal JSON.\n\nIf any information is unclear:\n\nInfer logically when possible.\n\nOtherwise use empty string \"\" or 0.\n\nDo not invent information.\n\nMeeting Summary:\n\nAgent: {{ $('Proposal Folm').item.json['Agent Name'] }}\nCompany: {{ $('Proposal Folm').item.json['Company Name'] }}\nLead: {{ $('Proposal Folm').item.json['Lead Name'] }}\nDiscussion Details:\n{{ $('Proposal Folm').item.json.Notes }}\n\nBudget Mentioned: {{ $('Proposal Folm').item.json.Prices }}\nInterested: {{ $('Proposal Folm').item.json['Main Services To offer'] }}\nEmail: {{ $('Proposal Folm').item.json['Lead Email'] }}\n\nReturn only valid JSON.",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a precise data extraction engine. Your goal is to convert meeting summaries into a structured JSON format.\n\n### RULES:\n1. PROCESS: Use your internal thought process to analyze the text, but the FINAL output must be ONLY a valid JSON object.\n2. FORMAT: No markdown blocks (no ```json), no conversational text, no explanations.\n3. SCHEMA: Use the following keys:\n   - \"Agent Name\": string\n   - \"Company Name\": string\n   - \"Lead Name\": string\n   - \"Notes\": string (max 2 sentences)\n   - \"Prices\": string\n   - \"InterestedServices\": array of strings\n   - \"Lead Email\": string\n\n4. MISSING DATA: Use \"\" for strings or [] for the array if information is not found.\n5. LANGUAGE: Ensure all values are in English as per the user's previous request.\n\nCRITICAL: Return ONLY the JSON. Starting with '{' and ending with '}'."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        192
      ],
      "id": "b498af3c-6727-45af-9cca-012c920b3731",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1-0528:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        816,
        400
      ],
      "id": "6321c809-0bf3-483a-a533-99ab9263bce1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "1SevA8SSm6ROrJIR",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// جلب التاريخ من Notion مباشرة لتجنب خطأ الـ Paired Items\nconst notionDate = $('Get many database pages').first().json.property_last_communication.start;\n\n// جلب النص المستخرج من الـ AI\nconst rawData = $('Basic LLM Chain').first().json.text; \n\ntry {\n    // تنظيف وتحويل النص إلى JSON\n    const cleaned = rawData.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n    const parsed = JSON.parse(cleaned);\n\n    // دمج التاريخ مع البيانات المستخرجة\n    return {\n        ...parsed,\n        submittedAt: notionDate\n    };\n} catch (e) {\n    return { error: \"Parse error\", submittedAt: notionDate };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        192
      ],
      "id": "2f17224f-917e-4e4a-937f-cc5e87463864",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1ntljXTxFulRhcuyEpP8g1GnBrHq--ooEJCutsIKF_Ow",
          "mode": "list",
          "cachedResultName": "Proposal File",
          "cachedResultUrl": "https://docs.google.com/document/d/1ntljXTxFulRhcuyEpP8g1GnBrHq--ooEJCutsIKF_Ow/edit?usp=drivesdk"
        },
        "name": "={{ $json['Company Name'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        192
      ],
      "id": "04bb048e-57e3-4082-a510-341713305a1e",
      "name": "Copy file",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HZxFYaLrQPq74yQb",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{companyName}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json['Company Name'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{notes}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.Notes }}"
            },
            {
              "action": "replaceAll",
              "text": "${{estimatedBudgetMin}} – ${{estimatedBudgetMax}} USD",
              "replaceText": "={{ $('Code in JavaScript1').item.json.Prices }}"
            },
            {
              "action": "replaceAll",
              "text": "{{submittedAt}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.submittedAt }}"
            },
            {
              "action": "replaceAll",
              "text": "{{leadName}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json['Lead Name'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{agentName}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json['Agent Name'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1664,
        192
      ],
      "id": "78a9a252-3842-47e9-8c86-5d953cffff4a",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "c3wUQHsLBLzXfVqo",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "proposal",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          },
          "fileName": "proposal.pdf"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1856,
        192
      ],
      "id": "f43e9f6c-ae6f-4b00-b7ee-ac5d849cd6e0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HZxFYaLrQPq74yQb",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Code in JavaScript1').item.json['Company Name'] }} - Proposal",
        "message": "=Dear, {{ $('Code in JavaScript1').item.json['Lead Name'] }} it was a greate to met you and to know more about {{ $('Code in JavaScript1').item.json['Company Name'] }} as discused please, fine attached our proposal.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "proposal"
              }
            ]
          },
          "sendTo": "={{ $('Proposal Folm').first().json['Lead Email'] }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2064,
        192
      ],
      "id": "d02dea69-aad9-484e-b6a1-74afcc400f12",
      "name": "Create a draft",
      "webhookId": "2bc4a914-7deb-4e05-abe5-49dc60e8978d",
      "credentials": {
        "gmailOAuth2": {
          "id": "rhxYLWTw6UUBjsQY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Get many database pages').first().json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Proposal Ready"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2272,
        192
      ],
      "id": "95481a41-d465-4b45-b0e9-9b14b1817ae4",
      "name": "Update a database page1",
      "credentials": {
        "notionApi": {
          "id": "2riW6i9wMVvCxYyl",
          "name": "CRM"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6997710403",
        "text": "=Proposal is sent as draft on you Email and ready to sent to : {{ $('Proposal Folm').first().json['Lead Email'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2480,
        192
      ],
      "id": "c54ba1c1-0b56-46d8-bd05-e8341555ecc9",
      "name": "Send a text message1",
      "webhookId": "93c6235c-3068-4cb4-af85-c56153621718",
      "credentials": {
        "telegramApi": {
          "id": "S590TNpdJqWJN3YB",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "998861e6-4706-4269-a1fb-774a48fda948",
              "leftValue": "={{ $json.property_status }}",
              "rightValue": "Proposal Ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -64
      ],
      "id": "57e7c79e-99dc-47bd-83ae-8b8a9b8bdc26",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "6997710403",
        "text": "=this lead's status is \"Proposal ready\" you want to Edit on ?\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Yes, Edit",
                    "additionalFields": {
                      "callback_data": "edit_yes"
                    }
                  },
                  {
                    "text": "No",
                    "additionalFields": {
                      "callback_data": "edit_no"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -256
      ],
      "id": "276be9e6-f45d-4969-bb2b-769abf0ee660",
      "name": "Send a text message2",
      "webhookId": "ec4d4453-5817-441c-9d41-d57ac8124eb0",
      "credentials": {
        "telegramApi": {
          "id": "S590TNpdJqWJN3YB",
          "name": "Telegram account 4"
        }
      }
    }
  ],
  "pinData": {
    "Basic LLM Chain": [
      {
        "json": {
          "text": "{\n  \"Agent Name\": \"Ahmed Essam\",\n  \"Company Name\": \"addoppt\",\n  \"Lead Name\": \"Mostafa\",\n  \"Notes\": \"He wants someone to handle business issues using n8n and create a website for his company.\",\n  \"Prices\": \"10000$ - 20000$\",\n  \"InterestedServices\": [\"Automation\", \"Website\"],\n  \"Lead Email\": \"mahmoudalaa0025@gmail.com\"\n}"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "text": "{\n  \"Agent Name\": \"Ahmed Essam\",\n  \"Company Name\": \"addoppt\",\n  \"Lead Name\": \"Mostafa\",\n  \"Notes\": \"Mostafa wants someone to handle business issues using n8n and create a website for his company.\",\n  \"Prices\": \"10000$ - 20000$\",\n  \"Inter বিভিন্নServices\": [\"Automation\", \"Website\"],\n  \"Lead Email\": \"mahmoudalaa0025@gmail.com\"\n}"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "text": "{\n  \"Agent Name\": \"Ahmed Essam\",\n  \"Company Name\": \"addoppt\",\n  \"Lead Name\": \"Mostafa\",\n  \"Notes\": \"The lead wants someone to handle business issues using n8n automation and create a company website.\",\n  \"Prices\": \"10000$ - 20000$\",\n  \"InterestedServices\": [\"Automation\", \"Website\"],\n  \"Lead Email\": \"mahmoudalaa0025@gmail.com\"\n}"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "text": "{\n   \"Agent Name\": \"Ahmed Essam\",\n   \"Company Name\": \"addoppt\",\n   \"Lead Name\": \"Mostafa\",\n   \"Notes\": \"Mostafa wants help handling business issues using n8n and creating a website for addoppt. Budget ranges from $10000 to $20000.\",\n   \"Prices\": \"10000$ - 20000$\",\n   \"InterestedServices\": [\"Automation\", \"Website\"],\n   \"Lead Email\": \"mahmoudalaa0025@gmail.com\"\n}"
        },
        "pairedItem": {
          "item": 3
        }
      }
    ]
  },
  "connections": {
    "Proposal Folm": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Update a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6de5498b-9818-4a57-9a70-b1a9b90b2da1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51d68a43c0e7de098d2588489dee30bfbf9d1d00b625cf7115d934a62a4d9706"
  },
  "id": "v7cL2dAGJyD4M3AXcYjUB",
  "tags": []
}