Projects/Learning Academy Project/Academy Reminder.json
{
  "name": "Academy Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -16
      ],
      "id": "500263ab-1793-4d32-8170-1d11fa18b49a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1--egnqOL7Hf1EuJ4BpnBBGRUK5WEwyUzJgPTXSxQ9aY",
          "mode": "list",
          "cachedResultName": "Academy Sheet.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--egnqOL7Hf1EuJ4BpnBBGRUK5WEwyUzJgPTXSxQ9aY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1994824400,
          "mode": "list",
          "cachedResultName": "Student Scheduals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--egnqOL7Hf1EuJ4BpnBBGRUK5WEwyUzJgPTXSxQ9aY/edit#gid=1994824400"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        -16
      ],
      "id": "e4060192-e21d-4af9-986b-838b8426b834",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a5JeDXpT8kSl4Mkq",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cef09339-0c29-441c-a7a5-2243eb40f7d9",
              "leftValue": "={{ $json['Student\\'s Schedual'] }}",
              "rightValue": "={{ $now.plus({ days: 1 }).weekdayLong }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        144,
        -16
      ],
      "id": "235390ce-acda-46e7-9b4d-bd3714b028b7",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst tomorrowDate = new Date();\ntomorrowDate.setDate(now.getDate() + 1);\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const scheduleText = item.json[\"Student's Schedual\"]; \n  \n  // 1. تعديل الـ Regex ليتجاهل الأقواس ويستخرج الوقت بدقة\n  const timeMatch = scheduleText.match(/(\\d{1,2}:\\d{2}\\s?(AM|PM))/i);\n  \n  if (timeMatch) {\n    const timeString = timeMatch[1];\n    \n    // 2. بناء تاريخ الموعد\n    const parts = timeString.split(/\\s+/); // تقسيم النص بناءً على المسافة\n    const timePart = parts[0];\n    const modifier = parts[1];\n    \n    let [hours, minutes] = timePart.split(':');\n    \n    if (modifier.toUpperCase() === 'PM' && hours !== '12') {\n      hours = parseInt(hours, 10) + 12;\n    }\n    if (modifier.toUpperCase() === 'AM' && hours === '12') {\n      hours = 0;\n    }\n\n    const appointmentDate = new Date(tomorrowDate);\n    appointmentDate.setHours(parseInt(hours, 10), parseInt(minutes, 10), 0, 0);\n\n    // 3. حساب الفرق بالساعات\n    const diffInMs = appointmentDate - now;\n    const diffInHours = diffInMs / (1000 * 60 * 60);\n\n    // 4. الفلترة (المواعيد التي ستبدأ خلال 30 ساعة)\n    if (diffInHours > 0 && diffInHours <= 30) { \n      results.push({\n        json: {\n          ...item.json,\n          hoursUntilAppointment: diffInHours.toFixed(2),\n          appointmentTimeOnly: timeString, // سنحتاجها في رسالة الواتساب\n          appointmentStatus: \"Reminder Ready\"\n        }\n      });\n    }\n  }\n}\n\n// الـ return يجب أن تكون خارج الـ Loop تماماً\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -16
      ],
      "id": "e9c32d1b-9e0b-435f-b1dc-7ecb4a7648db",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        144
      ],
      "id": "094e96f9-b30d-49cb-9764-05a7d920a9ff",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "914894145049692",
        "recipientPhoneNumber": "={{ $('Code in JavaScript1').first().json.student_whatsapp_clean }}",
        "textBody": "=Salam, Hello You Have a Session Tomorrow with {{ $json['Student Name'] }} at {{ $json.appointmentTimeOnly }}. Don't Forget your session appointment.\n\nThank You.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1072,
        160
      ],
      "id": "a824c456-9fa4-4022-94c7-54a30875fdde",
      "name": "Teacher Message",
      "webhookId": "eba5d133-8d9c-45a7-be47-0fc29189103e",
      "credentials": {
        "whatsAppApi": {
          "id": "zkJgg6UcTh6sDz0D",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const rawData = item.json;\n\n  const formatToInternational = (phone) => {\n    if (!phone) return null;\n    \n    let cleaned = phone.toString().replace(/\\D/g, '');\n    \n    if (cleaned.startsWith('0')) {\n      cleaned = '20' + cleaned.substring(1);\n    }\n    \n    // إذا كان الرقم 10 أرقام (صيغة مصرية بدون كود الدولة وبدون الصفر الأول)\n    if (cleaned.length === 10 && (cleaned.startsWith('1'))) {\n        cleaned = '20' + cleaned;\n    }\n    \n    // إذا كان الرقم 11 رقم ويبدأ بـ 1 (حالة نادرة بدون صفر)\n    if (cleaned.length === 11 && cleaned.startsWith('1')) {\n        cleaned = '2' + cleaned;\n    }\n\n    return cleaned;\n  };\n\n  return {\n    json: {\n      ...rawData,\n      // التعديل هنا: استخدمنا الاسم الصحيح للحقل كما يظهر في بياناتك\n      student_whatsapp_clean: formatToInternational(rawData[\"Student WhatsApp\"]) \n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -16
      ],
      "id": "f8ef03bb-4ace-4f53-be1c-e473ec95a790",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        160
      ],
      "id": "72a1ea83-12a4-4c0d-b6ff-54c2c6237ba0",
      "name": "Wait",
      "webhookId": "33c0a175-26a5-4106-b919-37c22de75f56"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        -256
      ],
      "id": "235b9869-c041-4a45-9338-438f3c1c5458",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        -224
      ],
      "id": "9fbd5219-801f-4344-a1fe-027d46a0da7d",
      "name": "Wait1",
      "webhookId": "567cd289-c8a6-402b-96fd-0dfb4be4f446"
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $('Code in JavaScript1').item.json.student_whatsapp_clean }}",
        "textBody": "=Hello {{ $('Filter').item.json['Student Name'] }}, This is a reminder for Your session tommrow at {{ $('Code in JavaScript').item.json.appointmentTimeOnly }}. Don't forget\n\nThank You.\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1104,
        -224
      ],
      "id": "b8541af9-c2f3-4118-930b-13c3081ee28c",
      "name": "Student reminder",
      "webhookId": "56cadd33-f11e-4b29-b217-d92fcc8a2027",
      "credentials": {
        "whatsAppApi": {
          "id": "zkJgg6UcTh6sDz0D",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1--egnqOL7Hf1EuJ4BpnBBGRUK5WEwyUzJgPTXSxQ9aY",
          "mode": "list",
          "cachedResultName": "Academy Sheet.",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--egnqOL7Hf1EuJ4BpnBBGRUK5WEwyUzJgPTXSxQ9aY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1994824400,
          "mode": "list",
          "cachedResultName": "Student Scheduals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1--egnqOL7Hf1EuJ4BpnBBGRUK5WEwyUzJgPTXSxQ9aY/edit#gid=1994824400"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Last Session Reminder": "Yes"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Student ID",
              "displayName": "Student ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Student Name",
              "displayName": "Student Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Student's Schedual",
              "displayName": "Student's Schedual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Teacher's Whatsapp",
              "displayName": "Teacher's Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Student WhatsApp",
              "displayName": "Student WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Last Session Reminder",
              "displayName": "Last Session Reminder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        -400
      ],
      "id": "176320a9-f2dd-44d4-84c7-ab39a5cac88c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a5JeDXpT8kSl4Mkq",
          "name": "Google Sheets account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Teacher Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teacher Message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Student reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Student reminder": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "60dde1a7-fb14-4086-afbf-8b3accfbbb29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51d68a43c0e7de098d2588489dee30bfbf9d1d00b625cf7115d934a62a4d9706"
  },
  "id": "wiHIqnVm33Wr8iVB-Nnuk",
  "tags": []
}